<h2>Add A New Album</h2>
<p>Simply paste an ASIN number for your favorite album into the form below to see how it ranks on the chart.</p>
<p class="muted">Visit <%= link_to "Amazon", "http://www.amazon.com/gp/bestsellers/music/?ie=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=r0a90-20" %> to search for albums and their related ASIN ID numbers.</p>
<%= simple_form_for @item,:html => { :class => 'form-vertical' } do |f| %>
  <% if notification = f.error_notification %>
        <%= notification %>
    <% end %>
    <%= f.input :asin, :wrapper => :prepend, :label => false, required: true do %>
        <%= content_tag :span, "ASIN", :class => "add-on" %>
        <%= f.input_field :asin %>
    <% end %>
  <%= f.button :submit, value: "Add Album" %>
<% end %>