<script>
$(document).ready(function() {
$('.thumbnail').tooltip();
});
</script>
<div class="row">
  <div class="span5">
    <h2><%=@item.name.html_safe %></h2>
    <h3><%=@item.album.html_safe %></h2>
    <h5>Amazon Sales Rank: #<%= @item.salesrank %></h5>
    <p>Released on <%= @item.release %></p>
    <p>Purchase on <%= link_to "Amazon", @item.description %></p>
    <p><%= link_to "JSON", item_path(@item) + ".json" %>
  </div>
  <div class="span7">
    <img class="img-polaroid thumbnail" src="<%= @item.thumbnail_url%>" data-toggle="tooltip" title="<%= @item.album %>">
  </div>
</div>